<h1 class="text-center"> Favourite Artists</h1>
<div class= "container">
<% @artists.each do |artist| %>
<div class="card p-1 mr-5 ml-5">
  <div class="card-body">
 <%= link_to artist.name, artist_path(artist)%>
</div>
</div>

<% end %>
</div>