    <div class="card mb-2 m-3">
    <div class="row no-gutters">
    <div class="col-md-5">
            <img class="card-image-top" src="<%= @album.cover %>" alt="">
    </div>
    <div class="col-md-7">
            <div class="card-body">
            <h5 class="card-title" >
                            Album Name :
            </h5>
            <%= @album.name %>
<h5>
        Album Artist:</h5>
        <%# @album.artist.name %>
        </div>
    </div>
    </div>


         
    </div>
    </div>
  